<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wearable Project</title>
    <!-- Bootstrap Core CSS -->
    <link href="../dist/css/custom.css" rel="stylesheet">


    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!--<link href="../bower_components/morrisjs/morris.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Wearable Project</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <a>
                        < href="#">
                        <div>
                            <p>
                                <strong>Task 3</strong>
                                <span class="pull-right text-muted">60% Complete</span>
                            </p>

                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                        </div>
                    </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 4</strong>
                            <span class="pull-right text-muted">80% Complete</span>
                        </p>

                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Tasks</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-tasks -->
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="bs.html"><i class="fa fa-edit fa-fw"></i> Bootstrap & Registration</a>
                    </li>
                    <li>
                        <a href="dm.html"><i class="fa fa-wrench fa-fw"></i> Device Management</a>
                    </li>
                    <li>
                        <a href="if.html"><i class="fa fa-bar-chart-o fa-fw"></i> Information Reporting</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper" style="min-height : 1230px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Device Management</h1></div>
                <div class="col-lg-12">
                    <div ng-app="myApp" ng-controller="myCtrl">
                        <script type="text/ng-template" id="myModalContent.html">
                            <highchart id="chart1" config="highchartsNG" ng-show="selected0"></highchart>
                            <highchart id="chart1" config="highchartsNG1" ng-show="selected1"></highchart>

                        </script>


                        <p ng-model="test">{{test}}</p>

                        <p>
                            <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle all
                                panels
                            </button>
                        </p>

                        <ul>
                            <li ng-repeat="clientObject in clientObjects">
                                <accordion close-others="oneAtATime">
                                    <accordion-group heading="EP: {{clientObject.client_bs_obj.device_id}}"
                                                     is-open="status.open">


                                        <!--<p>EP: {{clientObject.client_bs_obj.device_id}}</p>-->
                                        <ul>
                                            <li ng-repeat="obj in clientObject.objectMap">
                                                <accordion close-others="oneAtATime">
                                                    <accordion-group heading="OBJ: {{obj.object_id}}"
                                                                     is-open="status.open">


                                                        <!--<p>OBJ: {{obj.object_id}}</p>-->
                                                        <ul>
                                                            <li ng-repeat="objIns in obj.objInstanceMap">
                                                                <accordion close-others="oneAtATime">
                                                                    <accordion-group
                                                                            heading="ins: {{objIns.objInstance_id}}"
                                                                            is-open="status.open">
                                                                        <!--<p> ins: {{objIns.objInstance_id}}</p>-->

                                                                        <br class="row">

                                                                        <div class="row lwm2mRow">

                                                                            <div class="col-md-6">
                                                                                <div class="col-md-6"
                                                                                     style="text-align: right">
                                                                                    Create value:
                                                                                </div>
                                                                                <div class="col-md-6"><input type="text"
                                                                                                             ng-model="createValue"/>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-6">

                                                                                <button class="btn btn-info glyphicon col-md-6 glyphicon glyphicon-tag"
                                                                                        ng-click="create(clientObject.client_bs_obj.device_id, obj.object_id, objIns.objInstance_id, createValue)">
                                                                                    CREATE INSTANCE
                                                                                </button>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row lwm2mRow">
                                                                            <div class="col-md-6">
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                                <button class="btn btn-info glyphicon col-md-6 glyphicon glyphicon-trash "
                                                                                        ng-click="delete(clientObject.client_bs_obj.device_id, obj.object_id, objIns.objInstance_id)">
                                                                                    DELETE INSTANCE
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <ul>
                                                                            <li ng-repeat="res in objIns.resourceMap">
                                                                                <accordion close-others="oneAtATime">
                                                                                    <accordion-group
                                                                                            heading="res: {{res.recourse_id}}">
                                                                                        <!--<p> res: {{res.recourse_id}}</p>-->

                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-6"></div>
                                                                                            <div class="col-md-6">
                                                                                                <button class="btn btn-info glyphicon glyphicon-eye-open col-md-6"
                                                                                                        ng-click="read(clientObject.client_bs_obj.device_id, obj.object_id, objIns.objInstance_id, res.recourse_id)">
                                                                                                    READ
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-6"
                                                                                                 style="margin-top: 7px;">
                                                                                                <div class="col-md-6"
                                                                                                     style="text-align: right">

                                                                                                    Write Message:
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <input
                                                                                                            type="text"
                                                                                                            ng-model="writeValue"/>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <button class="btn btn-info glyphicon col-md-6 glyphicon glyphicon-pencil"
                                                                                                        ng-click="write(clientObject.client_bs_obj.device_id, obj.object_id, objIns.objInstance_id, res.recourse_id, writeValue)">
                                                                                                    WRITE
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-6"
                                                                                                 style="margin-top: 7px;">
                                                                                                <div class="col-md-6"
                                                                                                     style="text-align: right">
                                                                                                    Execution name:
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <input
                                                                                                            type="text"
                                                                                                            ng-model="executionName"/>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <button class="btn btn-info glyphicon col-md-6 glyphicon glyphicon-play"
                                                                                                        ng-click="execute(clientObject.client_bs_obj.device_id, obj.object_id, objIns.objInstance_id, res.recourse_id, executionName)">
                                                                                                    EXECUTE
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-3"
                                                                                                 style="text-align: right">
                                                                                                Minimum Period:
                                                                                            </div>
                                                                                            <div class="col-md-3">
                                                                                                <input
                                                                                                        type="text"
                                                                                                        ng-model="pmin"/>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-3"
                                                                                                 style="text-align: right">
                                                                                                Maximum Period:
                                                                                            </div>
                                                                                            <div class="col-md-3">
                                                                                                <input
                                                                                                        type="text"
                                                                                                        ng-model="pmax"/>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-6">
                                                                                                <div class="col-md-6"
                                                                                                     style="text-align: right">
                                                                                                    Greater Than:
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <input
                                                                                                            type="text"
                                                                                                            ng-model="gt"/>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <button class="btn btn-info glyphicon col-md-6 glyphicon glyphicon-pencil"
                                                                                                        ng-click="writeAttribute(clientObject.client_bs_obj.device_id, obj.object_id, objIns.objInstance_id, res.recourse_id,pmin,pmax,gt,lt,st)">
                                                                                                    WRITEATTRIBUTE
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-3"
                                                                                                 style="text-align: right">
                                                                                                Less Than:
                                                                                            </div>
                                                                                            <div class="col-md-3"><input
                                                                                                    type="text"
                                                                                                    ng-model="lt"/>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-3"
                                                                                                 style="text-align: right">
                                                                                                Step :
                                                                                            </div>
                                                                                            <div class="col-md-3"><input
                                                                                                    type="text"
                                                                                                    ng-model="st"/>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row lwm2mRow">
                                                                                            <div class="col-md-6"></div>
                                                                                            <div class="col-md-6">
                                                                                                <button class="btn btn-info glyphicon col-md-6 glyphicon glyphicon-search"
                                                                                                        ng-click="discover(clientObject.client_bs_obj.device_id, obj.object_id, objIns.objInstance_id, res.recourse_id)">
                                                                                                    DISCOVER
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </accordion-group>
                                                                                </accordion>
                                                                            </li>
                                                                        </ul>
                                                                    </accordion-group>
                                                                </accordion>
                                                            </li>
                                                        </ul>


                                                    </accordion-group>
                                                </accordion>
                                            </li>
                                        </ul>


                                    </accordion-group>
                                </accordion>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>

<!-- /#wrapper -->

<!-- jQuery -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

<script src="../bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!--&lt;!&ndash; Morris Charts JavaScript &ndash;&gt;-->
<!--<script src="../bower_components/raphael/raphael-min.js"></script>-->
<!--<script src="../bower_components/morrisjs/morris.min.js"></script>-->
<!--<script src="../js/morris-data.js"></script>-->

<!--&lt;!&ndash; Custom Theme JavaScript &ndash;&gt;-->
<!--<script src="../dist/js/sb-admin-2.js"></script>-->


<script>
    // Please note that $modalInstance represents a modal window (instance) dependency.
    // It is not the same as the $modal service used above.


    //    function test(){
    var app = angular.module('myApp', ['ui.bootstrap', 'highcharts-ng']);
    app.controller('ModalInstanceCtrl', function ($scope, $modalInstance, $http, obj, Ins, res, EP) {

        $http.get("http://localhost:8080/WearableProject_war_exploded/api/server/read/" + obj + "/" + Ins + "/" + res + "?" + "ep=" + EP)
                .success(function (data) {
                    console.log(data)
                    if (Ins == 0) {
                        $scope.selected0 = true;
                        $scope.selected1 = false;
                        $scope.highchartsNG.series.push({
                            type: 'line',
                            name: 'temperature',
                            data: data
                        })
                    } else if (Ins == 1) {

                        $scope.selected1 = true;
                        $scope.selected0 = false;
                        $scope.highchartsNG1.series.push({
                            type: 'column',
                            name: 'steps',
                            data: data
                        })
                    }


                });

//
//        $scope.options = {
//            type: 'line'
//        }
//        Highcharts.setOptions({
//            global: {
//                timezoneOffset: 7 * 60
//            }
//        });
        $scope.highchartsNG = {
            options: {
                chart: {
                    type: 'line',


                },
                global: {
                    useUTC: false,

                },
                plotOptions: {
                    area: {
                        fillColor: [{
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, "rgba(132,185,237,1)"],
                                [1, "rgba(132,185,237,0)"]
                            ]
                        }],
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                global: {
                    timezoneOffset: 7 * 60
                }
            },
            legend: {
                enabled: false
            },


            series: [],
            title: {
                text: 'team3'
            },

            loading: false,
            xAxis: {
                type: 'datetime'
            },
            yAxis: [{ // left y axis
                title: {
                    text: "Measured Data  T/°C"
                },
                labels: {
                    align: 'right',
                    format: '{value:.,0f}'
                },
                showFirstLabel: false,
                min: 30,
                max: 45,

                plotBands: [{ // Light air
                    from: 38,
                    to: 41,
                    color: 'rgba(255, 238, 88, 0.4)',
                    label: {
                        text: 'fever',
                        style: {
                            color: '#606060'
                        }
                    }
                }]
            }],

        }
        $scope.highchartsNG1 = {
            options: {
                chart: {
                    type: 'column'
                },

            },
            legend: {
                enabled: false
            },


            series: [],
            title: {
                text: 'team3'
            },

            loading: false,
            xAxis: {
                type: 'datetime'
            },
            yAxis: [{ // left y axis
                title: {
                    text: "steps"
                },
                labels: {
                    align: 'right',
                    format: '{value:.,0f}'
                },
                showFirstLabel: false,
                min: 2000,
                max: 8000,


                plotBands: [{ // Light air
                    from: 4000,
                    to: 4500,
                    color: 'rgba(255, 238, 88, 0.2)',
                    label: {
                        text: '50%',
                        style: {
                            color: '#606060'
                        }
                    }
                },
                    { // Light air
                        from: 4500,
                        to: 5000,
                        color: 'rgba(255, 238, 88, 0.4)',
                        label: {
                            text: '75%',
                            style: {
                                color: '#606060'
                            }
                        }
                    },

                    { // Light air
                        from: 5000,
                        to: 5500,
                        color: 'rgba(255, 238, 88, 0.6)',
                        label: {
                            text: '80%',
                            style: {
                                color: '#606060'
                            }
                        }
                    },
                    { // Light air
                        from: 5500,
                        to: 6000,
                        color: 'rgba(255, 238, 88, 0.8)',
                        label: {
                            text: '90%',
                            style: {
                                color: '#606060'
                            }
                        }
                    }]


            }]
        }


    });
    app.controller('myCtrl', function ($scope, $http, $modal, $log) {
        $http.get("http://localhost:8080/WearableProject_war_exploded/api/server/clientObjects")
                .success(function (response) {
                    console.log(response)
                    $scope.clientObjects = response;


                }
        );
//            $scope.observe = function (ep, objID, InsID, resID) {
//                $http.get("http://localhost:8080/WearableProject_war_exploded/api/server/observe/" + objID + "/" + InsID + "/" + resID + "?" + "ep=" + ep)
//                        .success(function (response) {
//                            console.log(response)
//                            $scope.test = response;
//
//                        });
//
//            };
//            $scope.cancelObserve = function (ep, objID, InsID, resID) {
//                $http.get("http://localhost:8080/WearableProject_war_exploded/api/server/cancelObserve/" + objID + "/" + InsID + "/" + resID + "?" + "ep=" + ep)
//                        .success(function (response) {
//                            console.log(response)
//                            $scope.test = response;
//
//                        });
//
//            };

        $scope.animationsEnabled = true;


        $scope.read = function (ep, objID, InsID, resID, size) {

            var modalInstance = $modal.open({
                animation: $scope.animationsEnabled,
                templateUrl: 'myModalContent.html',
                controller: 'ModalInstanceCtrl',
                size: 'lg',
                resolve: {
                    obj: function () {
                        return objID
                    },
                    Ins: function () {
                        return InsID
                    },
                    res: function () {
                        return resID
                    },
                    EP: function () {
                        return ep
                    }
                }
            });


        };

        $scope.write = function (ep, objID, InsID, resID, value) {
            var req = {
                method: 'POST',
                url: "http://localhost:8080/WearableProject_war_exploded/api/server/write/" + objID + "/" + InsID + "/" + resID + "?" + "ep=" + ep,
                headers: {
                    'Content-Type': "text/plain"
                },
                data: value
            }
            $http(req)
                    .success(function (response) {
                        console.log(response)
                        $scope.test = response;

                    });

        };

        $scope.create = function (ep, objID, InsID, value) {
            var req = {
                method: 'POST',
                url: "http://localhost:8080/WearableProject_war_exploded/api/server/create/" + objID + "/" + InsID + "?" + "ep=" + ep,
                headers: {
                    'Content-Type': "text/plain"
                },
                data: value
            }
            $http(req)
                    .success(function (response) {
                        console.log(response)
                        $scope.test = response;

                    });

        };

        $scope.discover = function (ep, objID, InsID, resID) {
            $http.get("http://localhost:8080/WearableProject_war_exploded/api/server/discover/" + objID + "/" + InsID + "/" + resID + "?" + "ep=" + ep)
                    .success(function (response) {
                        console.log(response)
                        $scope.test = response;

                    });

        };

        $scope.writeAttribute = function (ep, objID, InsID, resID, pmin, pmax, gt, lt, st) {
            var req = {
                method: 'PUT',
                url: "http://localhost:8080/WearableProject_war_exploded/api/server/writeAttribute/" + objID + "/" + InsID + "/" + resID + "?ep=" + ep
                + "&pmin=" + pmin + "&pmax=" + pmax + "&gt=" + gt + "&lt=" + lt + "&st=" + st,
                headers: {
                    'Content-Type': "text/plain"
                }
            }
            $http(req)
                    .success(function (response) {
                        console.log(response)
                        $scope.test = response;

                    });

        };
        $scope.execute = function (ep, objID, InsID, resID, value) {
            var req = {
                method: 'POST',
                url: "http://localhost:8080/WearableProject_war_exploded/api/server/execute/" + objID + "/" + InsID + "/" + resID + "?" + "ep=" + ep,
                headers: {
                    'Content-Type': "text/plain"
                },
                data: value
            }
            $http(req)
                    .success(function (response) {
                        console.log(response)
                        $scope.test = response;

                    });

        };
        $scope.delete = function (ep, objID, InsID) {
            $http.delete("http://localhost:8080/WearableProject_war_exploded/api/server/delete/" + objID + "/" + InsID + "?" + "ep=" + ep)
                    .success(function (response) {
                        console.log(response)
                        $scope.test = response;

                    });

        };


    });

</script>
<script>
    $(function () {
        Highcharts.setOptions({
            global: {
                timezoneOffset: 7 * 60
            }
        });

    });
</script>


</body>

</html>
